.Frame {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
}

.Frame .Post {
    width: calc(100vw - 2rem);
    height: 3rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.Post h1 {
    margin: auto;
}

.button-group {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    width: 100vw;
}

.inputfield {
    margin-top: 2rem;
}

.sendButton {
    width: calc(100vw - 2rem);
    display: flex;
    margin-top: 2rem;
}

.sendButton .btn {
    margin: auto;
}

.print-card {
    display: flex;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.print-card .patrulje-info {
    padding: 5px;
    padding-left: 1rem;
}

.print-card .patrulje-info h1 {
    font-size: 4rem;
}

.print-card .patrulje-info p {
    font-size: 1.75rem;
    line-height: 1rem;
}

.print-card img {
    padding: 10px;
}

.print-card .flex-grow {
    flex-grow: 1;
}