@model pointMaster.Controllers.SelectPostViewModel
@{
    ViewData["Title"] = "Vælg post";
}
<h1>Vælg post</h1>
@foreach(var item in Model.Poster)
{
    <div>
        <a asp-action="SelectPost" asp-route-id="@item.Id" class="btn btn-primary mb-2">@item.Name</a>
    </div>
}