@model pointMaster.Controllers.SkiftPatruljeViewModel;
<h1>Vælg patrulje</h1>
@foreach (var patrulje in Model.Patruljer)
{
    <a asp-action="GivPoint" asp-controller="Point" asp-route-id="@patrulje.Id" class="btn btn-primary mb-2">@patrulje.Name</a>
}