@model pointMaster.Controllers.SelectPostViewModel
@{
    ViewData["Title"] = "Vælg post";
}
<h1>Vælg post</h1>
<ul class="list-group">
@foreach(var item in Model.Poster)
{
        <a asp-action="SelectPost" asp-route-id="@item.Id" class="list-group-item">@item.Name</a>
}
</ul>